/** Colors **
Black button - #181818;
Black button hover - #333333;
Red button - #9C0000;
Red button hover - #B70000;
Red text - #C40000;
Subhead grey - #A0A0A0;
*/


/** OVERRIDES**/
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart,
.node-product-type .field-type-commerce-product-reference {
  background: none;
  margin: 0;
  padding: 0;
}

.section-content {
  min-height: 0;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label {
  width: auto;
}

.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: none !important;
}

#node_product_display_full_group_add .field-type-commerce-price {
  margin-bottom: 0px;
}

.form-item, .form-actions {
  margin: 0;
}

#powered_by_drupal_commerce {
  display: none;
}

/** Add to cart confirmation overlay */
div.messages.commerce-add-to-cart-confirmation {
  top: -276px;
}

/* GLOBAL */
#zone-content,
#zone-branding-wrapper { /** white background**/
  background: #fff;
}

body {
  background: #262626;
}  
  
.zone-content-wrapper .zone-content {
  margin-bottom: 0;
}

.zone-footer-wrapper {
  padding: 20px 0;
}

#region-header-first {
  margin: 0;
  width: 960px;
}

#zone-menu-wrapper {
 background: #181818;
}

.ds-3col > .group-right {
  width: 220px;
}

.ds-3col > .group-middle {
 width: 390px;
  padding: 10px 25px 0 25px;
}

.node-type-blog-post #page-title,
.page-node-15 #page-title,
.page-node-1 #page-title,
.page-node-14 #page-title,
.page-node-2 #page-title,
.page-node-37 #page-title,
.page-cart #page-title,
.page-checkout #page-title {
  display: none;
}

#zone-content {
  padding-top: 20px;
}

.no-margin {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

input[type="email"] {
  box-shadow: none;
}

/* MORE LINK */
#page .more-link,
#page .more-link a {
  display: inline-block;
  font-family: "open sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
  text-align: left;
}

#page .more-link:hover,
#page .more-link a:hover {
  text-decoration: none;
}

/** SUBMIT BUTTON */
#page .form-submit,
#page .large-button { /** Button - use form-submit class **/
  color: #fff;
  background: #181818;
  border: none;
  display: inline-block;
  font: 18px "gentium";
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  letter-spacing: 1px;
  margin-top: 0;
  padding: 9px 12px;
  text-shadow: none;
  text-transform: uppercase;
}

#page .form-submit:hover,
#page .large-button:hover {
  background: #9C0000;
  color: #fff;
  border: none;
}

/** PAGER **/
.pager {
  background: none;
  border: none;
  float: right;
  margin-bottom: 20px !important;
}

#page ul.pager li {
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

#page .pager li a {
  background: none;
  font-size: 14px;
  color: #777;
}

.pager li.pager-previous,
.pager li.pager-next,
.pager li.pager-last,
.pager li.pager-first  {
  display: none;
}

.pager li.pager-current {
  background: #181818;
  border-radius: 0; -moz-border-radius: 0; -webkit-border-radius:0;
  color: #FFF;
  padding: 3px 8px 4px 8px !important;
}

.pager li.pager-next a,
.pager li.pager-last a  {
  color: #ba1318;
}

/* TABS */
.page-node-13 .tabs,
.page-node-14 .tabs,
.page-node-15 .tabs {
  display: none;
}

/** TEXT STYLES - NOT BODY AREA **/
#page .small-sans-11 {
  font-size: 11px;
  line-height: 15px;
  color: #616161;
  font-family: "open sans", sans-serif;
  font-weight: 400;
}

#page .menu-link a {
  color: #616161;
  display: inline-block;
  font-family: "open sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

/** Menu uppercase text **/
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary ul a,
#block-views-shopping-cart-block .view-id-shopping_cart .view-empty p,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-total,
#block-menu-menu-login-and-logout li a,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary .line-item-quantity-label,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary .line-item-quantity-raw { 
  color: #303030;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; 
}

/** Menu uppercase text - red **/
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-total,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary .line-item-quantity-raw {
  color: #c40000;
}

/** Menu uppercase text - white **/
#block-menu-menu-login-and-logout li a,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary  .line-item-summary-checkout a,
#page div.messages.commerce-add-to-cart-confirmation .button a,
div.messages.commerce-add-to-cart-confirmation .button.continue .commerce-add-to-cart-confirmation-close, 
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-submit,
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-checkout,
#page a.login-register,
#user_login_form .form-submit,
#user_pass_form .form-submit,
.page-user  #page #zone-content .back-to-login .login-account,
.page-user  #page #zone-content #user-register-form .form-submit,
.page-user #page #user-profile-form .form-submit,
.page-user #page .profile ul.user-information li a,
.page-user-addressbook #page ul.action-links li a,
.page-user #page .form-submit {
  color: #fff;
  font-weight: 400;
  font-family: "open sans";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary  .line-item-summary-checkout a:hover,
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-submit:hover,
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-checkout:hover,
#user_pass_form .form-submit:hover,
.page-user #page #user-profile-form .form-submit:hover {
  text-decoration: none;
}

/*Button black*/
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-checkout,
.page-checkout #page .checkout-buttons #edit-continue,
#page #user_login_form .form-submit,
#page #user_pass_form .form-submit,
.page-user  #page #zone-content #user-register-form .form-submit,
.page-user #page #user-profile-form .form-submit  {
  background: #181818;
  border: none;
  border-radius: 0; -moz-border-radius: 0px; -webkit-border-radius:0; 
  padding: 10px 20px;
}

#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-checkout:hover,
.page-checkout #page .checkout-buttons #edit-continue:hover,
#page #user_login_form .form-submit:hover,
#page #user_pass_form .form-submit:hover,
.page-user  #page #zone-content #user-register-form .form-submit:hover,
.page-user #page #user-profile-form .form-submit:hover {
  background: #333333;
}

/*Button red*/
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-submit,
#page a.login-register,
.page-user  #page #zone-content .back-to-login .login-account {
  background: #9C0000;
  border: none;
  border-radius: 0; -moz-border-radius: 0px; -webkit-border-radius:0; 
  padding: 10px 20px;
}

#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-submit:hover,
#page a.login-register:hover,
.page-user  #page #zone-content .back-to-login .login-account:hover {
  background: #B70000;
}

/* Button grey */
.page-user #page .profile ul.user-information li a,
.page-user-addressbook #page ul.action-links li a {
  background: #909090;
  border: none;
  border-radius: 0; -moz-border-radius: 0px; -webkit-border-radius:0; 
  display: inline-block;
  padding: 5px 10px;
  text-shadow: none;
}

.page-user #page .profile ul.user-information li a:hover,
.page-user-addressbook #page ul.action-links li a:hover {
  background: #717171;
  border: none;
  border-radius: 0; -moz-border-radius: 0px; -webkit-border-radius:0; 
}

/** TOOLBAR **/
#toolbar div.toolbar-menu ul li a,
#toolbar .toolbar-shortcuts a {
  font-family: "open sans";
}

#toolbar .account a strong {
  color: #6fc500;
}

#region-page-top #toolbar .toolbar-shortcuts a {
  background-image: url(../my-images/plus-icon-small.png);
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 30px;
  padding-right: 13px;
}

/* MAIN MENU */
#secondary-menu {
  margin-left: -9px;
}

#secondary-menu li a {
  border-right: solid 1px #373737;
  color: #FFF;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#secondary-menu li.first a {
  border-left: none;
  padding-left: 0;
}

#secondary-menu li.last a {
  border-right: none;
}

#secondary-menu li a:hover, 
#secondary-menu li.active a {
  text-decoration: underline;
}

#secondary-menu li {
  padding: 0;
  margin: 0;
}

#zone-menu-wrapper .navigation {
  margin: 0;
  padding: 9px 0 10px 0;
}

/** LOGIN LOGOUT MENU **/
#block-menu-menu-login-and-logout {
  float: right;
  margin-right: -10px;
}

#block-menu-menu-login-and-logout .block-title {
  display: none;
}

#block-menu-menu-login-and-logout li {
  background: #181818;
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-menu-menu-login-and-logout li a {
  display: block;
  padding: 6px 13px 7px 12px;
}

#block-menu-menu-login-and-logout li a:hover {
  background: #333333;
  text-decoration: none;
}

/** SHOPPING CART IN BRANDING ZONE **/
#block-views-shopping-cart-block {
  float: right;
  margin-right: -10px;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary ul {
  background: none;
}

#block-views-shopping-cart-block .content {
  background: url(../my-images/cart-icon.png) no-repeat 18px 5px;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary .links {
  margin: 0;
  padding: 0;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary .line-item-quantity {
  margin-right: 5px;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary  .line-item-summary-checkout a {
  background: #9C0000;
  display: block;
  padding: 6px 13px 7px 12px;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-summary  .line-item-summary-checkout a:hover {
  background: #B70000;
}

#block-views-shopping-cart-block .view-id-shopping_cart .view-empty p,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-total,
#block-views-shopping-cart-block .view-id-shopping_cart .line-item-quantity {
  margin-top: 2px;
}

#block-views-shopping-cart-block .view-id-shopping_cart .line-item-total {
  padding-right: 15px;
  padding-left: 3px;
}

/** CART CONFIRMATION FORM **/
div.messages.commerce-add-to-cart-confirmation {
  background: #fff;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  background: #f4f4f4;
  padding: 61px 20px;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  background: #f4f4f4;
  border: solid 1px #ececec;
  color: #616161;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout,
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue  { 
  border-radius: 0; -moz-border-radius: 0px; -webkit-border-radius:0;
  padding: 0;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  margin: 10px 0 0 13px;
  padding: 5px 20px;
}

#page .commerce-add-to-cart-confirmation .view-confirm-message-product-display .field-name-field-images {
  left: -117px; top: 10px;
}

#page div.messages.commerce-add-to-cart-confirmation .button a,
div.messages.commerce-add-to-cart-confirmation .button.continue .commerce-add-to-cart-confirmation-close {
  padding: 10px 20px;
}

#page div.messages.commerce-add-to-cart-confirmation .button a {
  background: #9C0000;
}

#page div.messages.commerce-add-to-cart-confirmation .button a:hover {
  background: #B70000;
  text-decoration: none;
}

#page div.messages.commerce-add-to-cart-confirmation .button.continue .commerce-add-to-cart-confirmation-close {
  background: #181818;
}

#page div.messages.commerce-add-to-cart-confirmation .button.continue .commerce-add-to-cart-confirmation-close:hover {
  background: #414141;
}

#page .commerce-add-to-cart-confirmation .views-field-commerce-total .field-content {
  color: #C40000;
  float: left;
}

#page .commerce-add-to-cart-confirmation .view-confirm-message-product-display .views-field-line-item-title .field-content {
  color: #181818;
  display: block;
  font-size: 16px;
  font-family: gentium;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 19px;
}

#page .commerce-add-to-cart-confirmation .commerce-product-sku .commerce-product-sku-label,
#page .commerce-add-to-cart-confirmation .views-label-quantity,
#page .commerce-add-to-cart-confirmation .views-label-commerce-total {
  color: #303030;
}

#page div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin-bottom: 0;
  padding-top: 13px;
  width: 201px;
}

#page .commerce-add-to-cart-confirmation .views-label-commerce-total,
#page .commerce-add-to-cart-confirmation .views-field-commerce-total .field-content {
  font-weight: 600;
  font-size: 16px;
  padding-top: 15px;
  text-transform: uppercase;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  min-height: 152px;
}

/** LOGO **/
#block-boxes-logo {
  float: left;
  margin-left: -13px;
  padding: 40px 0 13px 0;
}

#block-boxes-logo .boxes-box-controls {
  display: none;
}

/**FOOTER**/
#zone-footer-wrapper {
  background: #181818;
}

#block-boxes-copyright-box .boxes-box-content {
  color: #414141;
  font-family: "open sans", sans-serif;
  font-weight: 400;
}

#block-boxes-copyright-box .symbol {
  display: block;
  float: left;
  font-size: 19px;
  font-weight: 200;
  margin-right: 4px; 
}

#block-boxes-copyright-box .text {
  font-size: 12px;
  float: left;
  margin-top: 5px;
}

#block-boxes-copyright-box {
  float: right;
  margin-right: -10px;
}

#block-boxes-copyright-box .boxes-box-controls {
  display: none;
}

/*GDAY BOX*/
#block-block-2 {
  position: absolute;
  top: 23px;
  right: 28px;
}

.header-message {
  background: #181818;
  height: 194px;
  padding: 30px;
  width: 280px;
}

.header-message h2 {
  color: #FFF;
  font-family: gentium;
  font-size: 27px;
  margin-bottom: 0;
}

#block-block-2 .text {
  color: #959595;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
}

#block-block-2 .signature {
  color: #FFF;
  font-family: "rock salt";
  float: right;
  font-size: 16px;
}

/*HEADSHOT BOX*/
#block-boxes-about-headshot img {
  margin-bottom: 20px;
}

#block-boxes-about-headshot .quote {
  color: #bababa;
  font-style: italic;
  font-size: 20px;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  line-height: 26px;
  margin: 0 10px 10px 10px;
}

#block-boxes-about-headshot p em {
  font-size: 13px;
  margin-left: 10px;
}

/* BASIC LISTING STYLES */
#block-views-711324f228ef203ef2b5b2cdfb9a6bcb .views-row,
.view-archive .views-row,
#block-views-blog-listing-page-block .views-row {
  border-bottom: solid 1px #E7E7E7;
  margin-bottom: 22px;
  padding-bottom: 30px;
  padding-right: 20px;
}

#block-views-711324f228ef203ef2b5b2cdfb9a6bcb .views-row-last,
.view-archive .views-row-last,
#block-views-blog-listing-page-block .views-row-last {
  border: none;
}

/* SMALL HEADER AND TEXT AREA */
.small-header {
  background: #181818;
}

.small-header p,
.small-header p a {
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.small-header p a:hover {
  text-decoration: underline;
}

.text-area {
  border: solid 1px #cfcfcf;
  border-top: none;
  padding: 20px;
  padding-right: 25px;
}

/** SMALL HEADER AND TEXT - VIEW **/
#block-views-fd259b03dfde27ef506189e23005cedc,
#block-views-blog-listing-page-block-2 {
  border: solid 1px #CFCFCF;
  border-top: none;
  padding: 60px 22px 30px 18px;
}

#block-views-fd259b03dfde27ef506189e23005cedc .block-title,
#block-views-blog-listing-page-block-2 .block-title { 
  background: #181818;
  color: #FFF;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  margin-left: -1px;
  padding: 2px 0 2px 20px;
  position: absolute; top: 0; left: 0;
  text-decoration: none;
  text-transform: uppercase;
}

/** CONTACT DETAILS **/
#block-boxes-contact-details-box img {
  float: left;
  margin-right: 15px;
}

#block-boxes-contact-details-box .text {
  color: #181818;
  font-size: 15px;
  font-family: gentium;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 5px;
  line-height: 16px;
}

#block-boxes-contact-details-box .small-sans-11 {
  margin-left: 60px;
}

/* CONTACT FORM */
.page-node-1 .node p {
  margin-bottom: 0;
}

#block-webform-client-block-17 {
  margin: 0 10px;
  padding-bottom: 40px;
}

#block-webform-client-block-17 .form-item {
  margin-bottom: 8px;
}

#block-webform-client-block-17 .form-submit {
  margin-top: 10px;
}

/** CONTACT FORM **/
#block-webform-client-block-3 .block-title {
  display: none;
}

.webform-component input,
.webform-component textarea {
  background: #ebebeb;
  border: solid 1px #d2d2d2;
  color: #3f3f3f;
  font-family: gentium;
  font-style: italic;
  font-size: 15px;
  width: 100%;
}

.webform-component textarea {
  padding-left: 15px;
  padding-top: 10px;
}

.webform-component .grippie {
  display: none;
}

.webform-component input {
  height: 40px;
  padding-left: 15px;
}

/* Home: latest blog */
#block-views-blog-listing-page-block-2 {
  float: left;
  height: 274px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  width: 178px;
}

#block-views-blog-listing-page-block-2 .block-title {
  width: 200px;
}

/* Home: new music */
#block-views-fd259b03dfde27ef506189e23005cedc {
  float: left;
  height: 284px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  width: 428px;
}

#block-views-fd259b03dfde27ef506189e23005cedc .block-title {
  width: 450px;
}

#block-views-fd259b03dfde27ef506189e23005cedc  img {
  padding-right: 20px;
}

#block-views-fd259b03dfde27ef506189e23005cedc .field-name-field-images {
  float: left;
}

/** Home: bio box **/
#block-boxes-home-bio-box {
  border: solid 1px #cccccc;
  height: 104px;
  margin-bottom: 10px;
  padding-left: 30px;
}

#block-boxes-home-bio-box .bio-info {
  display: inline-block;
  margin-top: 27px;
}

#block-boxes-home-bio-box .bio-info p {
  margin-top: -3px;
}

#page #block-boxes-home-bio-box a {
  float: right;
  margin-top: 31px;
  margin-right: 24px;
  text-decoration: none;
}

#block-boxes-home-bio-box a:hover {
  text-decoration: none;
}

#block-boxes-home-bio-box h4 {
  font-size: 32px;
}

/* Home: Contact form */
#block-webform-client-block-18 {
  padding-bottom: 30px;
}

#block-webform-client-block-18  header {
  display: none;
}

#block-webform-client-block-18 .block-title {
  background: #181818;
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 41px;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 0;
  padding: 0px 0 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-webform-client-block-18 .block-inner > .content {
  border: solid 1px #cfcfcf;
  border-top: none;
  padding: 8px 10px 10px 10px;
}

#block-webform-client-block-18 .form-item {
  margin: 8px 0;
}

#block-webform-client-block-18 .form-actions  input {
  float: right;
  margin: 0;
}

#page #block-webform-client-block-18 .form-submit {
  margin: 12px 0 5px 0;
}

/** Music: Images box **/
#block-views-preview-images-block .field-name-field-preview-images div.even {
  float: left;
  margin-right: 12px;
}

#block-views-preview-images-block  .views-field-nothing {
  margin: 5px 0;
}

/* Music: Price box */
#node_product_display_full_group_add {
  border: solid 1px #CFCFCF;
  border-top: none;
  position: relative;
  padding: 45px 20px 20px 20px;
}

#node_product_display_full_group_add legend {
  background: #181818;
  display: block;
  width: 220px;
  position: absolute; top: 0; left: 0;
  margin-left: -1px;
}

#node_product_display_full_group_add legend .fieldset-legend {
  color: #fff;
  display: block;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#node_product_display_full_group_add .form-submit {
  margin-left: 0;
  margin-top: 20px;
  width: 100%;
}

#node_product_display_full_group_add .field-name-commerce-price {
  text-align: center;
}

#commerce-cart-add-to-cart-form-1 {
  text-align: center;
}

.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  margin-bottom: 0px;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item {
  padding: 11px 0 5px 0;
}

.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  font-family: gentium;
  font-size: 16px;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label:after {
  content: " ";
}

#node_product_display_full_group_add .commerce-add-to-cart .form-item {
  margin-left: 32px;
  text-align: left;
}

#node_product_display_full_group_add .commerce-add-to-cart .form-item select {
  padding-right: 25px;
  padding-left: 8px;
}

.node-type-product-display .field-name-field-format .field-label {
  float: left;
}

.node-type-product-display .field-name-field-format p {
  margin-bottom: 0;
}

.node-type-product-display  .field-name-field-length {
  clear: left;
}

#block-views-product-images-block {
  float: left;
  margin-bottom: 30px;
}

#block-views-product-images-block .views-field-nothing {
  margin: 6px 0;
}

#block-views-product-images-block .view-header {
  background: #9C0000;
  position: absolute; top: 0; left: 0;
}

#block-views-product-images-block .view-header p {
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  padding: 7px 10px;
  text-transform: uppercase;
}

/* Music: audio samples */
.node-product-display .field-name-field-audio-samples {
  border: solid 1px #CFCFCF;
  border-top: none;
  position: relative;
  padding: 60px 25px 15px 20px;
}

.node-product-display .field-name-field-audio-samples .label-above {
  background: #181818;
  display: block;
  width: 205px;
  position: absolute; top: 0; left: 0;
  margin-left: -1px;
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.node-product-display .field-name-field-audio-samples .file {
  background: url(../my-images/audio-icon.png) no-repeat 0 0;
  word-wrap: break-word;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
}

.node-product-display .field-name-field-audio-samples .file img {
  display: none;
}

/** Music: listing**/
#block-views-711324f228ef203ef2b5b2cdfb9a6bcb .views-field-field-images {
  float: left;
}

#block-views-711324f228ef203ef2b5b2cdfb9a6bcb .views-field-field-images img {
  padding-right: 25px;
}


/* Music:  Node */
.node-product-display .commerce-product-field-field-written-for {
  margin-top: -8px;
}

.node-product-display .group-middle .field-item {
  color: #616161;
  font-family: "open sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
}

.node-product-display .commerce-product-field-commerce-price .field-item {
  color: #181818;
  font-weight: 700;
  font-size: 27px;
  font-family: gentium;
}

.node-product-display .commerce-product-field-commerce-price .field-item {
  margin-top: 22px;
}

.node-product-display .field-label,
.node-product-display  .commerce-product-field-field-description {
  font-family: gentium;
  font-size: 16px;
  margin-right: 3px;
  font-weight: 600;
}

.node-product-display .commerce-product-field-field-description {
  margin: 15px 0 30px 0;
}

.node-product-display .group-middle {
  padding-bottom: 40px;
}

/*Music: listing view head */
#block-views-75c4c031f413e56d99640f759fce5295 {
  border: solid 1px #e7e7e7;
  margin-bottom: 30px;
  padding-right: 35px;
  position: relative;
}

#block-views-75c4c031f413e56d99640f759fce5295 .field-name-field-images {
  float: left;
  padding-right: 35px;
}

#block-views-75c4c031f413e56d99640f759fce5295 .views-field-nothing {
  position: absolute; top: 0; right: 0;
}

#block-views-75c4c031f413e56d99640f759fce5295 .views-field-title {
  padding-top: 45px;
}

#block-views-75c4c031f413e56d99640f759fce5295 .views-field-nothing p {
  padding-right: 15px;
  padding-left: 17px;
}

#block-views-75c4c031f413e56d99640f759fce5295 .views-field-view-node {
  margin-top: 30px;
}

/* Music: listing filters view */
#block-views-filters-block .block-title {
  font-size: 25px;
}

#block-views-filters-block {
  padding-left: 20px;
}

#block-views-filters-block .views-row {
  margin-bottom: 5px;
}

/* Music: listing information box */
#block-boxes-robs-music {
  background: #fff;
  border: solid 1px #E7E7E7;
  margin-bottom: 8px;
  padding: 30px 20px 15px 20px;
  text-align: center;
}

#block-boxes-robs-music p {
  line-height: 19px;
}

#block-boxes-robs-music h4 {
  margin-bottom: 10px;
}

#block-boxes-robs-music img {
  margin-bottom: 20px;
}

/* Blog node */
.node-blog-post .field-name-field-images {
  float: left;
  padding-right: 25px;
}

.node-blog-post,
.view-archive {
  padding-right: 20px;
}

.node-blog-post .field-name-body {
  margin-top: 20px;
}

/*Blog: filters */
.node-type-blog-post .region-sidebar-first-inner,
.page-archive .region-sidebar-first-inner,
.page-node-15 .region-sidebar-first-inner {
  border: solid 1px #CFCFCF;
  border-top: none;
  padding: 50px 20px 10px 20px;
}

#block-boxes-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
}

#block-views-latest-blog-posts-block,
#block-views-blog-filter-terms-block,
#block-views-archive-block {
  margin-bottom: 15px;
}

#block-views-latest-blog-posts-block .block-title,
#block-views-blog-filter-terms-block .block-title,
#block-views-archive-block .block-title {
  height: 32px;
  font-size: 14px;
  font-family: open sans;
  font-weight: 700;
}

#block-views-archive-block li {
  margin-left: 0;
}

#block-views-archive-block a {
  color: #5d5d5d;
  font-family: "open sans";
  font-size: 13px;
}

/** Blog listing page **/
#block-views-blog-listing-page-block-1 {
  border: solid 1px #e7e7e7;
  margin-bottom: 30px;
  padding-right: 35px;
  position: relative;
}

#block-views-blog-listing-page-block-1 .views-field-nothing {
  position: absolute; top: 0; left: 0;
}

#block-views-blog-listing-page-block-1 .views-field-nothing p {
  padding-right: 15px;
  padding-left: 17px;
}

#block-views-blog-listing-page-block-1 .views-field-field-images img {
  float: left;
  padding-right: 25px;
}

#block-views-blog-listing-page-block-1 .views-field-title {
  padding-top: 20px;
}

/**CART**/
#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-submit {
  margin-right: 5px;
}

#page #views-form-commerce-cart-form-default .commerce-line-item-actions #edit-checkout {
  margin-right: 0;
}

#page #views-form-commerce-cart-form-default .views-field-edit-delete .delete-line-item,
.page-checkout #page #zone-content .checkout-cancel,
.page-checkout #page #edit-buttons .checkout-back  {
  border: none;
  color: #C40000;
  font-size: 13px;
  text-decoration: underline;
}

#page #views-form-commerce-cart-form-default .views-field-edit-delete .delete-line-item,
#page #views-form-commerce-cart-form-default table .views-field-commerce-total,
#page #views-form-commerce-cart-form-default table .component-title,
#page #views-form-commerce-cart-form-default table .component-total,
#page #views-form-commerce-cart-form-default table .views-field-commerce-unit-price,
.page-checkout #page #zone-content .views-field-edit-delete .delete-line-item,
.page-checkout #page #zone-content table .views-field-commerce-total,
.page-checkout #page #zone-content table .component-title,
.page-checkout #page #zone-content table .component-total,
.page-checkout #page #zone-content table .views-field-commerce-unit-price,
.page-checkout #page #zone-content table .views-field-quantity,
.page-checkout #page #zone-content .checkout-cancel,
.page-checkout #page #edit-buttons .checkout-back {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
}

#page #views-form-commerce-cart-form-default .views-field-edit-delete .delete-line-item:hover,
#page #commerce-checkout-form-checkout .checkout-cancel:hover,
.page-checkout #page #edit-buttons .checkout-back:hover  {
  color: #a0a0a0;
  text-decoration: none;
}

#page #views-form-commerce-cart-form-default table .component-title,
#page #views-form-commerce-cart-form-default table .component-total,
.page-checkout #page #zone-content .component-title,
.page-checkout #page #zone-content table .component-total {
  border: none;
  font-size: 18px;
}

#page #views-form-commerce-cart-form-default table .component-type-base-price .component-title,
#page #views-form-commerce-cart-form-default table .component-type-base-price .component-total,
#page #views-form-commerce-cart-form-default table .component-type-flat-rate-free-shipping .component-title,
#page #views-form-commerce-cart-form-default table .component-type-flat-rate-free-shipping .component-total,
.page-checkout #page #zone-content .component-type-base-price .component-title,
.page-checkout #page #zone-content .component-type-base-price .component-total,
.page-checkout #page #zone-content .component-type-flat-rate-free-shipping .component-title,
.page-checkout #page #zone-content .component-type-flat-rate-free-shipping .component-total {
  font-size: 14px;
}

#page #views-form-commerce-cart-form-default .commerce-price-formatted-components,
.page-checkout #page #zone-content .commerce-price-formatted-components {
  margin-bottom: 0px;
}

#page #views-form-commerce-cart-form-default .views-field-nothing h6,
.page-checkout #page #zone-content .views-field-line-item-title h6 {
  font-size: 19px;
}

#page #views-form-commerce-cart-form-default .views-field-nothing,
#page #views-form-commerce-cart-form-default thead tr th.views-field-nothing,
.page-checkout #page #zone-content .views-field-line-item-title,
.page-checkout #page #zone-content thead tr th.views-field-line-item-title {
  padding-left: 20px;
}

#page #views-form-commerce-cart-form-default .views-field-commerce-total,
#page #views-form-commerce-cart-form-default thead tr th.views-field-commerce-total,
.page-checkout #page #zone-content .views-field-commerce-total,
.page-checkout #page #zone-content thead tr th.views-field-commerce-total {
  padding-right: 20px;
}

#page #views-form-commerce-cart-form-default table td,
.page-checkout #page #zone-content table td,
.page-checkout #page #zone-content legend {
  border-bottom-color: #f1f1f1;
}

.page-cart #page thead tr,
.page-checkout #page #zone-content thead tr {
  background: #181818;
}

#page #views-form-commerce-cart-form-default thead tr th,
#page #views-form-commerce-cart-form-default thead tr th.views-field-commerce-unit-price,
#page #views-form-commerce-cart-form-default thead tr th.views-field-commerce-total,
.page-checkout #page #zone-content tr th,
.page-checkout #page #zone-content thead tr th.views-field-commerce-unit-price,
.page-checkout #page #zone-content thead tr th.views-field-commerce-total,
.page-checkout #page #zone-content thead tr th.views-field-quantity,
.page-user #page .profile h3,
.page-user #page .tabs ul.secondary li a {
  color: #fff;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0px;
  padding-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-cart #region-content > .region-content-inner {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#page #views-form-commerce-cart-form-default .views-field-edit-quantity,
.page-checkout #page #zone-content .views-field-quantity {
  width: 76px;
}

.page-checkout #page #zone-content .views-field-commerce-unit-price {
  width: 120px;
}

.page-checkout #page #zone-content .views-field-commerce-unit-price {
  width: 160px;
}

.page-checkout #page #zone-content .views-field-edit-delete {
  width: 90px;
}

#page #views-form-commerce-cart-form-default .views-field-commerce-total,
.page-checkout #page #zone-content .views-field-commerce-total {
  width: 145px;
}

.cart-empty-page {
  background: #F4F4F4;
  color: #737373;
  text-align: center;
  padding: 10px 20px;
}

/* Music cart information box */
#block-boxes-music-cart {
  padding: 10px 5px;
}

#block-boxes-music-cart a:link, 
#block-boxes-music-cart a:visited {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

#block-boxes-music-cart a:hover {
  text-decoration: none;
}

/* CHECKOUT SCREENS */
.page-checkout #page #zone-content {
  padding-bottom: 30px;
}

#page #commerce-checkout-form-checkout legend .fieldset-legend,
.page-checkout #page #zone-content legend .fieldset-legend,
.page-checkout #page #zone-content .pane-title td,
.page-user #page .profile h4,
#addressfield-wrapper legend .fieldset-legend {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

/* Billing and shipping information*/
.customer_profile_billing .fieldset-wrapper,
.customer_profile_shipping  .fieldset-wrapper {
  padding: 20px 0 40px 0;
  
}

.customer_profile_billing .form-item-customer-profile-billing-addressbook,
.customer_profile_shipping .form-item-customer-profile-shipping-addressbook {
  margin-bottom: 30px;
}

.customer_profile_billing .addressfield-container-inline,
.customer_profile_billing .form-item-customer-profile-billing-commerce-customer-address-und-0-country,
.customer_profile_billing .street-block .form-item-customer-profile-billing-commerce-customer-address-und-0-thoroughfare,
.customer_profile_shipping  .form-item-customer-profile-shipping-commerce-customer-address-und-0-name-line,
.customer_profile_shipping  .form-item-customer-profile-shipping-commerce-customer-address-und-0-country,
.customer_profile_shipping  .form-item-customer-profile-shipping-commerce-customer-address-und-0-thoroughfare {
  margin-bottom: 5px;
}

.customer_profile_billing .street-block .form-item-customer-profile-billing-commerce-customer-address-und-0-premise,
.customer_profile_shipping  .form-item-customer-profile-shipping-commerce-customer-profile-copy,
.customer_profile_shipping  .form-item-customer-profile-shipping-commerce-customer-address-und-0-premise {
  margin-bottom: 20px;
}

.page-checkout #page #zone-content #edit-buttons .fieldset-wrapper {
  margin-left: 0;
}

#commerce-checkout-form-shipping legend {
  border-bottom: 1px solid #D7D7D7;
  margin: 0 10px 10px 0px;
  padding: 0px;
  width: 100%;
}

/* CHECKOUT REVIEW PAGE*/
.page-checkout #page #zone-content .pane-data-full  {
  padding: 20px 10px 30px 10px;
}

.page-checkout #page #zone-content .commerce_payment .fieldset-wrapper {
  padding: 10px 0 30px 0px;
}

.page-checkout #page #zone-content .pane-data .form-type-item {
  margin-bottom: 10px;
}

.page-checkout  .checkout-help {
  color: #616161;
  font-family: "open sans";
  font-size: 14px;
  padding-bottom: 20px;
}

/* Checkout indicator */
#block-commerce-checkout-progress-indication {
  padding-bottom: 20px;
} 

#block-commerce-checkout-progress-indication .commerce-checkout-progress li,
.page-user #page .tabs ul.primary li a {
  color: #b5b5b5;
  font-family: "open sans";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

#block-commerce-checkout-progress-indication .commerce-checkout-progress li.active {
  background: #77b622;
  color: #fff;
}

ul.inline.commerce-checkout-progress li.active:after, 
ul.inline.commerce-checkout-progress li.last.active:after, 
ol.inline.commerce-checkout-progress li.active:after, 
ol.inline.commerce-checkout-progress li.last.active:after {
  background: url(../my-images/active-progress.png) no-repeat 0 0;
}

/** Login page **/
.page-user #page #user-login #user_login_form {
  border: none;
}

.page-user #page #zone-content #user_login_form {
  padding: 0 70px 0 50px;
  max-width: 345px;
}

#page #user_login_form h1,
#page .create-account h2,
#page #user_pass_form h1,
#page #user_register_form h1 {
  font-family: gentium;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 10px;
}

#page a.login-register,
#user_login_form .form-submit,
#page #user_pass_form .form-submit,
.page-user  #page #zone-content .back-to-login .login-account,
.page-user  #page #zone-content #user-register-form .form-submit,
.page-user #page #user-profile-form .form-submit,
.page-user #page .form-submit  {
  font-size: 14px;
  margin: 0;
}

.page-user #zone-content {
  padding-bottom: 40px;
  padding-top: 30px;
}

#page #zone-content #user-login a.login-password {
  color: #C40000;
  display: block;
  font-family: "open sans";
  font-weight: 600;
  margin-bottom: 20px;
}

#page .form-type-password {
  margin-bottom: 20px;
}

.page-user #page form#user-login .create-account {
  display: none;
  /*padding: 0 50px 0 70px;
  width: 334px;*/
}

.page-user  #page #zone-content .back-to-login .login-account {
  padding: 9px 20px;
}

#user_login_form input,
#user_pass_form input,
#user_register_form input {
  padding: 15px 10px;
}

#user_pass_form .form-item-name {
  margin-bottom: 20px;
}

.page-user  #page #zone-content .back-to-login {
  float: left;
  margin: 0 0 0 5px;
  padding:0;
}

#user_pass_form,
.page-user #user-register-form #edit-actions {
  padding-left: 10px;
}

#user_register_form {
  margin-bottom: 30px;
  padding-left: 10px;
}

#user_register_form .form-item-name,
#user_register_form .form-item-mail {
  margin-bottom: 20px;
}

/* MY ACCOUNT */
#block-boxes-my-account {
  display: block;
  float: right;
  margin-right: 60px;
  margin-top: 6px;
}

.not-logged-in #block-boxes-my-account {
  display: none;
}

#block-boxes-my-account a {
  color: #B8B8B8;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}

#block-boxes-my-account a:hover {
  text-decoration: none;
}

.page-user-6 #user-profile-form {
  padding: 20px 0 0 5px;
  width: 570px;
}

.page-user #page .profile h3,
.page-user-addressbook  .tabs ul.secondary {
  background: #181818;
  margin-bottom: 20px;
  padding: 1px;
  padding-left: 20px;
}

.page-user #page .tabs ul.primary {
  border: none;
  margin-bottom: 10px;
}

.page-user #page .tabs ul.primary li {
  margin: 0;
  padding: 0;
}

.page-user #page .tabs ul.primary li a {
  background: #EFEFEF;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10; 
  color: #898989;
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  padding: 7px 15px;
}

.page-user #page .tabs ul.primary li a.active {
  background: #9C0000;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10;
  color: #fff;
}

.page-user #page .tabs ul.primary li a.active:hover {
  background: #B70000;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10;
  color: #fff;
}

.page-user #page .tabs ul.primary li a:hover {
  background: #909090;
  color: #fff;
}

#user-profile-form .form-item-mail,
#user-profile-form .form-type-password-confirm .description,
.page-user #page .profile  .user-profile-item .field-type-addressfield {
  margin-bottom: 20px;
  margin-left: 1px;
}

#user-profile-form .form-type-password-confirm .form-type-password,
#user-profile-form .form-item-mail .form-text {
  margin-bottom: 5px;
}

.page-user #page .profile ul.user-information li {
  border: solid 1px #E7E7E7;
  height: 200px;
  padding: 20px;
  width: 408px;
}

.page-user #page  .profile ul.user-information,
.page-user #page .profile ul.user-information li {
  margin-left: 0;
}

.page-user #page .profile  .user-profile-item a {
  display: inline-block;
  position: relative;
  bottom: auto;
}

.page-user #page .tabs ul.secondary li a {
  border: none;
}  

#commerce-addressbook-customer-profile-form .addressfield-container-inline,
#commerce-addressbook-customer-profile-form .form-item-commerce-customer-address-und-0-country,
#commerce-addressbook-customer-profile-form .form-type-textfield {
  margin-bottom: 10px;
}

.page-user-addressbook #page ul.action-links li a,
.page-user-addressbook #page ul.action-links li a:hover {
  background-image: url(../my-images/plus-icon-small.png); 
  background-repeat: no-repeat; 
  background-position: 10px 10px;
  padding-left: 25px;
  padding-right: 12px;
}

.page-user-addressbook #page .view-commerce-addressbook td .views-field {
  background: #fff;
  border-color: #E7E7E7;
  height: 148px;
  width: 226px;
}

.page-user-addressbook #page .view-commerce-addressbook-defaults .views-field {
  border-color: #dddddd;
  height: 148px;
  width: 226px;
}

.field-name-commerce-customer-address {
  margin-bottom: 15px;
}

.field-name-commerce-customer-address .name-block,
.field-name-commerce-customer-address .street-block .thoroughfare,
.field-name-commerce-customer-address .street-block .premise,
.field-name-commerce-customer-address .locality-block,
.field-name-commerce-customer-address .country {
  color: #616161;
  font-family: "open sans";
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
}

.view-commerce-addressbook-defaults .views-field a,
.view-commerce-addressbook .field-content a {
  background: #EFEFEF;
  color: #898989;
  font-family: "open sans";
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  padding: 5px 8px;
  text-transform: uppercase;
}

.view-commerce-addressbook .field-content a:hover {
  background: #e7e7e7;
  text-decoration: none;
}

.view-commerce-addressbook-defaults .views-field a {
  background: #e0e0e0;
  color: #898989;
}

.view-commerce-addressbook-defaults .views-field a:hover {
  background: #d5d5d5;
  text-decoration: none;
}

.view-commerce-addressbook-defaults .views-field,
.view-commerce-addressbook .views-field  {
  color: #fff;
}

#addressfield-wrapper legend {
  padding-bottom: 20px;
}

.page-user-addressbook #page .view-commerce-addressbook td .views-field a:nth-child(3),
.page-user-addressbook #page .view-commerce-addressbook td .views-field a:nth-child(4),
.view-commerce-addressbook-defaults .views-field a:nth-child(3) {
  margin-left: -10px;
}

.page-user #page .tabs ul.secondary li a:hover {
  border: solid 1px #676767;
}

.page-user #page .tabs ul.secondary li a {
  /*border: solid 1px #181818;*/
  display: inline-block;
  padding: 5px 10px;
}

.page-user-addressbook  .tabs ul.secondary { 
  margin-top: 30px;
  padding-left: 0px;
}

.page-user-addressbook .action-links li {
  margin-left: 4px;
}

/*.page-user #page .tabs ul.secondary li a.active {
  border: solid 1px #676767;
}*/

.page-user #page .tabs ul.secondary li a.active:hover {
  border: none;
  text-decoration: none;
}

.commerce-paypal-icons {
  margin-top: 16px;
  margin-left: 0px;
}

.commerce-paypal-icon {
  vertical-align: -2px;
  margin-left: 4px;
}

#commerce-checkout-form-checkout #edit-account .fieldset-wrapper {
  padding: 20px 0 20px 0;
}

.webform-confirmation {
  margin-left: 20px;
}


/** Temporary hack - hide the shipping details **/
.page-user .user-information li:first-child {
  display: none;
}

.page-user #page .profile ul.user-information li:nth-child(2) {
  margin-right: 20px;
}

.page-user-addressbook .tabs ul.secondary li:nth-child(2) { 
  display: none;
}


/* Help topic menu */
#block-menu-menu-help-topics {
  border: solid 1px #CFCFCF;
  margin-bottom: 10px;
}

#block-menu-menu-help-topics h2.block-title {
  background: #181818;
  color: #FFF;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 38px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 0 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-menu-menu-help-topics ul li {
  line-height: 18px;
  list-style: none;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
}

#block-menu-menu-help-topics .content > ul > li {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

#block-menu-menu-help-topics .content > ul > li > a {
  margin-bottom: 5px;
  display: inline-block;
}

#block-menu-menu-help-topics .content {
  padding: 25px 20px 10px 20px;
}

/* Home footer links */
#block-boxes-foot-help-links,
#block-boxes-foot-help-links  li {
  float: left;
}

#block-boxes-foot-help-links {
  margin-left: -10px;
}

#block-boxes-foot-help-links li,
#block-boxes-foot-help-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-boxes-foot-help-links li {
  margin-right: 20px;
}

#block-boxes-foot-help-links ul {
  margin-top: 5px;
}

#block-boxes-foot-help-links li a {
  color: #838383;
}

/* About menu */
#block-menu-menu-about-menu {
   margin-bottom: 25px;
}

#block-menu-menu-about-menu h2.block-title {
  display: none;
}

#block-menu-menu-about-menu li {
  float: left;
  list-style: none;
}

#block-menu-menu-about-menu li a {
  display: inline-block;
  font-size: 14px;
  padding: 7px 17px;
}

#block-menu-menu-about-menu li a.active {
  background: #181818;
  border-radius: 10px;
  color: #FFF;
  font-weight: 200;
  text-decoration: none;
}