/** OVERRIDES**/
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart,
.node-product-type .field-type-commerce-product-reference {
  background: none;
  margin: 0;
  padding: 0;
}

.section-content {
  min-height: 0;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label {
  width: auto;
}

.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: none !important;
}

#node_product_display_full_group_add .field-type-commerce-price {
  margin-bottom: 0px;
}

/* GLOBAL */
#zone-content,
#zone-branding-wrapper { /** white background**/
  background: #fff;
}

#zone-content {
  min-height: 500px;
}

.no-margin {
  margin-bottom: 0;
}

body {
  background: #262626;
}  
  
.zone-content-wrapper .zone-content {
  margin-bottom: 0;
}

.zone-footer-wrapper {
  padding-top: 3px;
  padding-bottom: 21px;
}

#region-header-first {
  margin: 0;
  width: 960px;
}

#zone-menu-wrapper {
 background: #181818;
}

.ds-3col > .group-right {
  width: 220px;
}

.ds-3col > .group-middle {
 width: 440px;
  padding: 10px 10px 0 10px;
}

#page-title {
  display: none;
}

#zone-content {
  padding-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* LAYOUT */
.page-node-13 .tabs {
  display: none;
}

/* STYLES */
h1, 
h2, 
h3,
h4,
h5,
h6 {
  color: #070707;
  font-family: gentium;
  font-weight: normal;
  letter-spacing: 0px;
}

h1 {
  font-size: 50px;
  line-height: 51px;
}

h2,
h2 a:link,
h2 a:visited {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 5px;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h3,
h3 a:link,
h3 a:visited {
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 5px;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

h4,
h4 a:link,
h4 a:visited {
  font-size: 30px;
  line-height: 29px;
  margin-bottom: 5px;
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
}

h5,
h5 a:link,
h5 a:visited {
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 5px;
  text-decoration: none;
}

h5 a:hover {
  text-decoration: underline;
}

h6,
h6 a:link,
h6 a:visited {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

p, 
li {
  color: #737373;
  font-family: "open sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
}

p strong {
  color: #5c5c5c;
}

li {
  margin-bottom: 10px;
}

a:link, 
a:visited {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

sup {
  vertical-align: super;
  font-size: 10px;
}

sub {
  vertical-align: sub;
  font-size: 10px;
}

blockquote {
  background: url("../images/block.png") no-repeat 0 2px;
  padding-left: 55px;
  margin: 10px 60px 10px 0;
}

blockquote p {
  color: #989898;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 25px;
  min-height: 37px;
}

hr {
  background: #efefef;
}

.subhead {
  color: #bababa;
  font-family: "open sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
  line-height: 25px;
  margin-top: -10px;
}

/* MAIN MENU */
#secondary-menu li a {
  border-right: solid 1px #8A8A8A;
  color: #FFF;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#secondary-menu li.first a {
  border-left: none;
  padding-left: 0;
}

#secondary-menu li.last a {
  border-right: none;
}

#secondary-menu li a:hover, 
#secondary-menu li.active a {
  text-decoration: underline;
}

#secondary-menu li {
  padding: 0;
  margin: 0;
}

#zone-menu-wrapper .navigation {
  margin: 0;
  padding: 9px 0 10px 0;
}

/**FOOTER**/
#zone-footer-wrapper {
  background: #181818;
}

#block-boxes-copyright-box .boxes-box-content {
  color: #515151;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

#block-boxes-copyright-box .symbol {
  display: block;
  float: left;
  font-size: 19px;
  font-weight: 200;
  margin-right: 6px;
  
}

#block-boxes-copyright-box .text {
  font-size: 12px;
  float: left;
  margin-top: 5px;
}

#block-boxes-copyright-box {
  float: right;
}

/*GDAY BOX*/
#block-block-2 {
  position: absolute;
  top: 31px;
  right: 36px;
}

.header-message {
  background: #181818;
  height: 179px;
  padding: 30px;
  width: 280px;
}

.header-message h2 {
  color: #FFF;
  font-family: gentium;
  font-size: 27px;
  margin-bottom: 0;
}

#block-block-2 .text {
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}

#block-block-2 .signature {
  color: #FFF;
  font-family: "rock salt";
  float: right;
  font-size: 16px;
}

/*HEADSHOT BOX*/
#block-boxes-about-headshot img {
  margin-bottom: 20px;
}

#block-boxes-about-headshot .quote {
  color: #bababa;
  font-style: italic;
  font-size: 20px;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  line-height: 26px;
  margin: 0 10px 10px 10px;
}

#block-boxes-about-headshot p em {
  font-size: 13px;
  margin-left: 10px;
}

/* SMALL HEADER AND TEXT AREA */
.small-header {
  background: #181818;
}

.small-header p,
.small-header p a {
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.small-header p a:hover {
  text-decoration: underline;
}

.text-area h6 {
  margin-bottom: 10px;
}

.text-area {
  border: solid 1px #cfcfcf;
  border-top: none;
  padding: 20px;
  padding-right: 25px;
}

.text-area p {
  font-size: 12px;
  line-height: 18px;
  font-family: "open sans", sans-serif;
}

/** FRIENDS OF ROB **/
#block-boxes-friends-rob .text-area p {
  font-size: 11px;
}

#block-boxes-friends-rob .text-area h6 {
  margin-bottom: 0px;
}

#block-boxes-friends-rob .text-area p a {
  color: #747474;
  text-decoration: none;
}

#block-boxes-friends-rob .text-area p a:hover {
  text-decoration: underline;
}

/** CONTACT DETAILS **/
#block-boxes-contact-details-box .subhead {
  font-size: 12px;
  font-style: italic;
  font-family: "open sans", sans-serif;
  letter-spacing: 1px;
  margin-top: -6px;
  margin-bottom: 25px;
}

#block-boxes-contact-details-box p {
  margin: 0;
}

#block-boxes-contact-details-box img {
  float: left;
  margin-right: 15px;
}

#block-boxes-contact-details-box .text {
  color: #494949;
  font-size: 15px;
  font-family: gentium;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 5px;
  line-height: 16px;
}

#block-boxes-contact-details-box .small-text {
  color: #8a8a8a;
  font-size: 11px;
  line-height: 14px;
  margin-left: 60px;
}

#block-boxes-contact-details-box .email {
  color: #333;
  clear: left;
  font-weight: bold;
  font-family: "gentium";
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 33px;
  padding-top: 7px;
  text-decoration: underline;
}

#block-boxes-contact-details-box .small {
  font-size: 11px;
  font-family: gentium;
  clear: left;
  padding-top: 10px;
  line-height: 13px;
}

/* CONTACT FORM */
.page-node-1 .node p {
  margin-bottom: 0;
}

/** CONTACT FORM **/
#block-webform-client-block-3 .block-title {
  display: none;
}

.webform-component input,
.webform-component textarea {
  background: #ebebeb;
  border: solid 1px #d2d2d2;
  color: #3f3f3f;
  font-family: gentium;
  font-style: italic;
  font-size: 15px;
  width: 100%;
}

.webform-component textarea {
  padding-left: 15px;
  padding-top: 10px;
}

.webform-component .grippie {
  display: none;
}

.webform-component input {
  height: 40px;
  padding-left: 15px;
}

#page .form-submit {
  color: #fff;
  background: #181818;
  border: none;
  font: 19px "gentium";
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  letter-spacing: 1px;
  margin-top: 0;
  padding: 9px 12px;
  text-shadow: none;
  text-transform: uppercase;
}

#page .form-submit:hover {
  background: #424242;
  color: #fff;
  border: none;
}

/** Home: bio box **/
#block-boxes-home-bio-box {
  border: solid 1px #cccccc;
  height: 115px;
}

#block-boxes-home-bio-box h5 {
  font-size: 27px;
}

#block-boxes-home-bio-box img {
  float: left;
}

#block-boxes-home-bio-box .bio-info {
  display: inline-block;
  margin-top: 27px;
  margin-left: -10px;
}

#block-boxes-home-bio-box .bio-info p {
  margin-top: -3px;
}

#block-boxes-home-bio-box a {
  float: right;
  margin-top: 54px;
  margin-right: 14px;
  text-decoration: none;
}

#block-boxes-home-bio-box a:hover {
  text-decoration: none;
}

/* Home: Contact form */
#block-webform-client-block-18 {
  padding-bottom: 30px;
}

#block-webform-client-block-18  header {
  display: none;
}

#block-webform-client-block-18 .block-title {
  background: #181818;
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 41px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0px 0 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-webform-client-block-18 .block-inner > .content {
  border: solid 1px #cfcfcf;
  border-top: none;
  padding: 8px 10px 10px 10px;
}

#block-webform-client-block-18 .form-item {
  margin: 8px 0;
}

#block-webform-client-block-18 .form-actions  input {
  float: right;
  margin: 0;
}

/** Music: Images box **/
#block-views-product-images-block .field-name-field-preview-images div.even {
  float: left;
  margin-right: 8px;
}

#block-views-product-images-block  .views-field-nothing {
  margin: 5px 0;
}

/* Music: Price box */
#node_product_display_full_group_add {
  border: solid 1px #CFCFCF;
  border-top: none;
  position: relative;
  padding: 50px 25px 20px 20px;
}

#node_product_display_full_group_add legend {
  background: #181818;
  display: block;
  width: 220px;
  position: absolute; top: 0; left: 0;
  margin-left: -1px;
}

#node_product_display_full_group_add legend .fieldset-legend {
  color: #fff;
  display: block;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#node_product_display_full_group_add .field-name-commerce-price {
  text-align: center;
}

#commerce-cart-add-to-cart-form-1 {
  text-align: center;
}

.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  margin-bottom: 5px;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item {
  padding: 11px 0 20px 0;
}

/* Music: audio samples */
.node-product-display .field-name-field-audio-samples {
  border: solid 1px #CFCFCF;
  border-top: none;
  position: relative;
  padding: 60px 25px 15px 20px;
}

.node-product-display .field-name-field-audio-samples .label-above {
  background: #181818;
  display: block;
  width: 205px;
  position: absolute; top: 0; left: 0;
  margin-left: -1px;
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.node-product-display .field-name-field-audio-samples .file {
  background: url(../my-images/audio-icon.png) no-repeat 0 0;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
}

.node-product-display .field-name-field-audio-samples .file img {
  display: none;
}

/* Music:  Node */
.node-product-display .commerce-product-field-field-written-for {
  margin-top: -8px;
}

.node-product-display .group-middle .field-item {
  color: #737373;
  font-family: "open sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
}

.node-product-display .field-label,
.node-product-display  .commerce-product-field-field-description {
  font-family: gentium;
  font-size: 16px;
  margin-right: 3px;
  font-weight: 600;
}

.node-product-type .field-name-commerce-price {
  font-family: gentium;
}

.node-product-display .commerce-product-field-field-description {
  margin: 15px 0 30px 0;
}